PORT=10000
APP_URL=https://your-render-service.onrender.com
PANEL_URL=https://ideadigitalbots.xo.je
BOT_USERNAME=
BOT_TOKEN=
WEBHOOK_SECRET=
DB_HOST=sql305.infinityfree.com
DB_PORT=3306
DB_NAME=if0_41581285_ideadigitalbot
DB_USER=if0_41581285
DB_PASS=0K8RZHGMsVI1Kj
